.fa-map-marker:before {
  content: "\229A";
  font-size: 24px;
}


.map-container {
  display: flex;
  flex-grow: 1;
}

.map-content {
  flex-grow: 1;
}

.fa-map-marker:before {
  content: "\229A";
  font-size: 24px;
}