html, body {
  height: 100%;
}

body {

}

#app {
  height: 100%;
}

.app-container {
  display: flex;
  height: 100%;
}

.app-map-container {
  position: absolute;
  width: 849px;
  height: 600px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.leaflet-popup {
  min-width: 200px;
  display: inline-block;
}

.leaflet-popup input {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
}

.leaflet-popup button {
  border: 1px solid #999;
  background-color: #eee;
  padding: 2px 5px;
  border-radius: 2px;
}

#popup-input {
  width: 120px;
}
